.Weather {
  font-family: Arial, sans-serif;
  border: solid 1px #dadce0;
  padding: 16px 16px 5px 16px;
  margin: 30px 30px 30px 30px;

  border-radius: 4px;
  color: rgb(80, 80, 80);
}
.Weather form {
  margin-bottom: 20px;
}
.Weather .btn {
  color: whitesmoke;
}
.Weather .form-control {
  background-color: whitesmoke;
  color: rgb(33, 33, 33);
}
.Weather h1 {
  font-size: 64px;
  font-weight: 100;
  margin: auto 0 auto 0;
  text-align: center;
  padding-bottom: 20px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather .time-descr-block {
  text-align: right;
  padding-right: 20px;
}
.Weather .CurrentWeather {
  line-height: 1.5;
  font-size: 18px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(61, 34, 34);
  font-size: 58px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather .units {
  color: rgb(33, 33, 33);
  font-weight: 400;
  position: relative;
  top: 10px;
  margin-left: 5px;
  line-height: 1;
  font-size: 16px;
}

.Weather .humidity-wind-block {
  padding-left: 0;
}
.Weather li {
  font-weight: 100;
  list-style: none;
}
.Weather .loading {
  display: block;
  margin: 0 auto;
}
.Weather .loading-text {
  color: rgb(33, 33, 33);
  font-weight: bold;
}
